html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

@font-face { font-family: "Fira Code"; src: url("FiraCode-Regular.ttf"); }
body {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 4rem),
      no-repeat url("/img/critical_systems_of_texas-background.png") center top  / 100% black;
}

#homepage-container {
  text-align: center;
}

.red {
  color: #ff5151;
}
a, .blue {
  color: #2f78ff;
}

a.brand {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  color: #b5b5b5;
}

.underline {
  animation-duration: 1.0s;
  animation-name: blink;
  /*animation-fill-mode: forwards;*/
  /*animation-timing-function: steps(2, jump-start);*/
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  /*text-decoration-line: underline;*/
    text-underline-offset: 0.2em;
}

@keyframes blink {
  from {
    text-decoration: none;
  }
  to {
    text-decoration: underline 0.2rem;
  }
}

@keyframes unblink {
  from {
    text-decoration: none;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
    /*text-decoration-line: none;*/
  }

  to {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
  }
}

.white {
  color: #ffffff;
}
